<table id="league-table" data-week="{{ week|default(1) }}" class="table table-striped table-bordered">
    <thead>
        <tr>
            <th class="text-center">League Table</th>
            <th class="text-center">Match Results</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td style="padding: 0;">
                {# League Table #}
                <table width="100%" class="table table-striped">
                    <thead>
                        <tr>
                            <th>Team</th>
                            <th>PTS</th>
                            <th>P</th>
                            <th>W</th>
                            <th>D</th>
                            <th>L</th>
                            <th>GD</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for team in teams %}
                            <tr>
                                <td>{{ team.name }}</td>
                                <td>{{ team.pts }}</td>
                                <td>{{ team.played }}</td>
                                <td>{{ team.won }}</td>
                                <td>{{ team.drawn }}</td>
                                <td>{{ team.lost }}</td>
                                <td>{{ team.gd }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
                {# End League Table #}
            </td>
            <td style="padding: 0;">
                {# Match results Table #}
                <table width="100%" class="table table-striped">
                    <thead>
                        <tr>
                            {% if null != week %}
                                <th class="text-left">
                                    <a
                                        class="league-table-switch{{ week == 1 ? ' disabled' : '' }}" 
                                        href="{{ path('insider_app_homepage', {week: week - 1}) }}"
                                        data-href="{{ path('insider_app_homepage') }}"
                                        data-direction="prev"
                                    >
                                        <i class="fa fa-arrow-circle-left"></i>
                                    </a>
                                </th>
                                <th class="text-muted text-center">
                                    <small>Week {{ week }} Match Results</small>
                                </th>
                                <th class="text-right">
                                    <a
                                        class="league-table-switch{{ last_week == week ? ' disabled' : ''}}" 
                                        href="{{ path('insider_app_homepage', {week: week + 1}) }}"
                                        data-href="{{ path('insider_app_homepage') }}"
                                        data-direction="next"
                                    >
                                        <i class="fa fa-arrow-circle-right"></i>
                                    </a>
                                </th>
                            {% else %}
                                <th colspan="3" class="text-muted text-center">
                                    <a 
                                        href="{{ path('insider_app_homepage', {week: 1}) }}"
                                        class="btn btn-xs btn-primary pull-left" 
                                    >
                                        Show 1-st week
                                    </a>
                                    <small>All Match Results</small>
                                    <a 
                                        href="{{ path('insider_app_homepage', {week: last_week}) }}"
                                        class="btn btn-xs btn-primary pull-right" 
                                    >
                                        Show Last week
                                    </a>
                                </th>
                            {% endif %}
                        </tr>
                    </thead>
                    <tbody>
                        {% for game in games %}
                            <tr>
                                <td class="text-left">{{ game.home.name }}</td>
                                <td class="text-center">{{ game.homeGoal }} : {{ game.guestGoal }}</td>
                                <td class="text-right">{{ game.guest.name }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
                {# End Match results Table #}
            </td>
        </tr>
    </tbody>
</table>
<div class="league-table-spinner">
    <i class="fa fa-soccer-ball-o fa-spin"></i>
</div>