<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <td>Teams</td>
            <td>2</td>
            <td>3</td>
            <td>Match Results</td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td rowspan="4">
                <table width="100%">
                    <thead>
                        <tr>
                            <td class="text-left">
                                <a href="#">
                                    <i class="fa fa-arrow-circle-left"></i>
                                </a>
                            </td>
                            <td class="text-muted text-center">
                                <p>Week {{ week }} Match Results</p>
                            </td>
                            <td class="text-right">
                                <a href="#">
                                    <i class="fa fa-arrow-circle-right"></i>
                                </a>
                            </td>
                        </tr>
                    </thead>
                    <tbody>
                        {% for game in games %}
                            <tr>
                                <td class="text-left">{{ game.red.name }}</td>
                                <td class="text-center">{{ game.redGoal }} : {{ game.blueGoal }}</td>
                                <td class="text-right">{{ game.blue.name }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </tbody>
</table>